@import "./smart-grid";
@import "./colors";
@import "./fonts";
@import "./header/header";

@include reset;

body {
  font: 100% "Ubuntu Condensed", Arial, Verdana, Tahoma, sans-serif;
  background-color: $main-gray;
}

.container {
  @include wrapper-full;
  margin: 0;
}

.header {
  width: 100%;

  &__text {
    color: $main-text;
  }
}

.v-icon {
  width: 10px;
  height: auto;
}
