doctype html
html(lang="ru_RU")

head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Webpack HTML
  meta(name="title", content="Webpack HTML")
  meta(name="description", content="Webpack HTML")
  meta(name="author", content="Webpack HTML")
  meta(name="robots", content="index,follow")
  meta(name="locale", content="ru_RU")

body
  div(class="container")
    header(class="header")
      h1(class="header__text") Webpack HTML

    section
      svg(class="v-icon")
        use(xlink:href="svg/sprites.svg#cac-logo")
